* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: #101010;
  background: linear-gradient(270deg, #fff 0, #f8f8f8);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05); }

header {
  height: 70px;
  background-color: #f0fffc;
  display: flex;
  align-items: center;
  padding: 0 3%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  header h1 {
    color: #4AC29A;
    font-size: 2rem;
    flex-shrink: 0;
    margin-right: 2.5vw; }
    @media (max-width: 1200px) {
      header h1 {
        font-size: 1.5rem; } }
  header .search-field {
    position: relative;
    margin-left: auto;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #4AC29A;
    font-size: 1.2rem;
    background-color: white;
    background-image: url("https://img.icons8.com/cotton/30/4AC29A/search.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 50px;
    transition: width 0.8s ease-in-out;
    caret-color: #4AC29A; }
    @media (max-width: 1200px) {
      header .search-field {
        font-size: 1rem;
        width: 200px; } }
    header .search-field::placeholder {
      color: #747474; }
    header .search-field:focus {
      width: 60%;
      outline: none; }
      @media (max-width: 900px) {
        header .search-field:focus {
          width: 100%; } }
      header .search-field:focus::placeholder {
        color: transparent; }

.container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 3%;
  margin: auto; }

.add-task {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border: 2px solid #4AC29A; }

.input-field {
  color: #101010;
  border: none;
  border-right: 2px solid #4AC29A;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 80%;
  z-index: 0;
  caret-color: #4AC29A; }
  .input-field::placeholder {
    color: #747474; }
  .input-field:focus {
    outline: none;
    box-shadow: inset 4px 0 0 0 rgba(0, 255, 152, 0.6); }
    .input-field:focus::placeholder {
      color: transparent; }
  @media (max-width: 1200px) {
    .input-field {
      font-size: 1rem;
      padding: 10px 15px; } }

.btn {
  color: #4AC29A;
  font-weight: bold;
  background: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  width: 20%;
  border: none;
  transition-duration: 0.2s;
  z-index: 0; }
  .btn:focus {
    outline: none; }
  @media (max-width: 1200px) {
    .btn {
      font-size: 1rem;
      padding: 5px; } }
  .btn:hover {
    background-color: #4AC29A;
    color: white; }

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
  position: relative; }

.task {
  text-decoration: none;
  display: block;
  position: relative; }

.task-edit::before {
  content: "Click \2714  to save changes";
  font-size: 0.8rem;
  color: #4AC29A;
  position: absolute;
  padding: 6px 0 4px 34px;
  top: 0;
  left: 0; }

.task-text {
  position: relative;
  cursor: default;
  resize: none;
  border: none;
  width: 100%;
  outline: none;
  display: block;
  overflow: hidden;
  font-family: inherit;
  background-color: transparent;
  padding: 20px 20px 10px;
  padding-left: 34px;
  font-size: 1.1rem;
  color: #101010;
  border-bottom: 2px solid #BDFFF3; }
  .task-text:read-write {
    cursor: initial;
    caret-color: #4AC29A;
    animation: borderBlink 0.8s linear infinite alternate; }

@keyframes borderBlink {
  0% {
    border-bottom: 3px solid #BDFFF3; }
  100% {
    border-bottom: 3px solid #4AC29A; } }

.delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: #747474; }
  .delete:hover {
    color: #4AC29A; }

.edit {
  position: absolute;
  font-size: 1.5rem;
  color: #747474;
  bottom: 0;
  left: 0;
  padding: 10px 10px 10px 0;
  cursor: pointer; }
  .edit:hover {
    color: #4AC29A; }
